@model List<Indextrious.Models.CardCollection>

@foreach (var collection in Model)
{
    <div class="collection-wrapper">
        <a href="@Url.Action("CollectionIndex", "CardCollection", new { id = collection.Id })" class="no-underline" draggable="false">
            <div class="collection-card">@collection.Name</div>
        </a>
        <img class="collection-delete" src="/images/close.png" alt="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-collection-id="@collection.Id">
    </div>
}