html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
}

.form-control {
    background-color: rgb(26, 26, 26);
    color: white;
    border-color: black;
}
input:hover {
    cursor: pointer;
}

.form-control:focus {
    background-color: inherit;
    caret-color: white;
    color: inherit;
}

/* Target autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /* Override background color */
    -webkit-box-shadow: 0 0 0 30px rgb(26, 26, 26) inset !important;
    box-shadow: 0 0 0 30px rgb(26, 26, 26) inset !important;
    /* Override text color */
    -webkit-text-fill-color: white !important;
    color: white !important;
}

a {
    color: deepskyblue ;
}

.add-btn {
    width: 200px;
    height: 200px;
    background-color: rgb(77, 77, 77);
    color: black;
    text-align: center;
    font-size: 40px;
    line-height: 190px;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-btn:hover {
    background-color: #ddd; /* change background on hover */
    transform: scale(1.1); /* increase the size on hover */
}