html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

.form-control {
    background-color: rgb(26, 26, 26);
    color: white;
    border-color: black;
}
input:hover {
    cursor: pointer;
}

.form-control:focus {
    background-color: inherit;
    caret-color: white;
    color: inherit;
}

/* Target autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /* Override background color */
    -webkit-box-shadow: 0 0 0 30px rgb(26, 26, 26) inset !important;
    box-shadow: 0 0 0 30px rgb(26, 26, 26) inset !important;
    /* Override text color */
    -webkit-text-fill-color: white !important;
    color: white !important;
}

a {
    color: deepskyblue ;
}

.collection-heading{
    user-select: none;
}

#collection-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.collection-card {
    width: 30vmin;
    height: 30vmin;
    background-color: rgb(77, 77, 77);
    color: black;
    text-align: center;
    font-size: 40px;
    line-height: 30vmin;
    border: 3px solid black;
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.no-underline {
    text-decoration: none;
}

.collection-card:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

/*CollectionIndex*/

#file-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 280px;
    height: calc(100% - 59px);
    max-height: calc(100% - 59px);
    color: black;
    background: linear-gradient(-45deg, white, beige);
    display: flex;
    flex-wrap: wrap; /* Wrap the tabs to the next line */
    overflow-y: auto;
    align-content: flex-start;
}

    /* For WebKit browsers like Chrome, Safari */
    #file-nav::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;

    /* For Firefox */
    scrollbar-width: none;
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
}

/* Style the file tabs */
.file-tab {
    align-self: flex-start; /* This will prevent the tabs from stretching to the height of the container */
    height: 40px;
    padding: 8px 12px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding-bottom: 0;
    position: relative;
    width: 88px;
    text-align: center;
    font-weight: bold;
}

.tab-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensure no line breaks inside the container */
    margin: 0;
    padding: 0;
}

    .file-tab:hover {
        background-color: #e0e0e0;
    }

    .file-tab:active {
        background-color: #d0d0d0;
    }

.active-file-tab {
    background-color: #d0d0d0;
}


.tab-one {
    margin-top: 10px;
    margin-left: 2px;
}

.tab-two {
    margin-top: 20px;
}

.tab-three {
    margin-top: 30px;
    margin-right: 0;
}

.file-tab:nth-child(3n)::after,
.file-tab:nth-child(3n - 1)::after {
    content: "";
    display: block;
    height: 2px; /* This creates the border */
    background: #ccc;
    width: 190px;
    position: absolute;
    left: -190px; /* Adjust as needed for distance from the tab */
    transform: translateY(-50%); /* This ensures vertical centering */
}

#add-file-btn {
    position: absolute;
    left: 300px;
}

#create-card-btn {
    position: absolute;
    left: 390px;
}

#edit-file-btn {
    position: absolute;
    left: 505px;
}

#carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#carousel {
    width: 500px;
}

.carousel-control-prev {
    left: -55px;
}

.carousel-control-next {
    right: -55px;
}

.index-card {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-family: 'Arial', sans-serif;
}

.card-title {
    width: 100%;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: text;
}

.card-body {
    flex: 1;
    width: 100%;
    border: none;
    padding: 10px;
    padding-top: 3px;
    outline: none;
    resize: none;
    font-size: 16px;
    overflow-y: auto;
    background-image: linear-gradient(0deg, transparent 90%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.1) 100%);
    line-height: 20px;
    background-size: 100% 20px;
}

    #card-body::-webkit-scrollbar {
        width: 8px;
    }

    #card-body::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    #card-body::-webkit-scrollbar-track {
        background-color: #f3f3f3;
        border-radius: 4px;
    }

    #card-title::placeholder, #card-body::placeholder {
        color: #aaa;
    }

.close-button, .save-button, .card-edit {
    position: absolute;
    top: 18px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

    .close-button:hover, .save-button:hover {
        filter: invert(.5);
    }

.close-button {
    right: 30px;
}

.save-button {
    right: 70px;
}

.card-edit {
    
    right: 30px;
}

#card-nav {
    position: fixed;
    bottom: 0;
    right: 0; 
    width: 280px;
    height: calc(100% - 59px);
    max-height: calc(100% - 59px);
    color: black;
    background: white; 
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
}

    /* Hide default scrollbar for IE */
    #card-nav::-ms-scrollbar {
        display: none;
    }

    /* Styling the scrollbar for Webkit browsers */
    #card-nav::-webkit-scrollbar {
        width: 8px; /* Adjust scrollbar width */
    }

    #card-nav::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.7); /* Adjust thumb color */
        border-radius: 4px; /* Make it round */
    }

    #card-nav::-webkit-scrollbar-track {
        background: transparent; /* Track color */
    }

.card-nav-item {
    width: 100%;
    display: block;
    border-bottom: 1px solid red;
    padding: 1px;
    cursor: pointer;
    text-align: left;
    position: relative;
}

    .card-nav-item.active {
        background-color: grey;
        border-color: red;
    }

.title-text {
    font-weight: bold;
    text-align: left;
    float: left;
}

.delete-icon {
    position: absolute;
    width: 24px;
    right: 10px;
    display: none;
}
    .delete-icon:hover {
        filter: invert(1);
    }


#collection-title-container {
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%); /* offsets half of its own width and height */
    display: flex;
    align-items: center;
    justify-content: center;
}

#collection-title {
    margin-top: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    text-align: left;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    min-width: 0px;
    white-space: nowrap;
    max-width: 90%;
}

.edit-button {
    width: 25px;
    cursor: pointer;
}

    .edit-button:hover {
        filter: invert(.5);
    }

    #collection-edit:hover {
        filter: invert(0);
    }

.invert-icon {
    filter: invert(1); /* 1 means 100% inversion */
}

#collection-save {
    display: none;
    width: 28px;
    cursor: pointer;
}
    #collection-save:hover {
        filter: invert(0);
    }

input:disabled {
    background-color: transparent; /* Sets the background to transparent */
    color: black;
    cursor: default;
}

textarea:disabled {
    background-color: transparent;
    color: black;
}
